.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform-origin: center;
}
.card-link{text-decoration: none;
color: white;}
.card-link:hover{text-decoration: underline;
font-weight: 600;}

.technology  {
  width:fit-content;
  margin-bottom: 5px;
  margin-right: 5px;
}
.technology-icons{
  display: flex;
  justify-content: center;
 
}
.technology-icons svg {
  margin-top: 5px;
  color: #fff;
}
.github-icon a{color: #fff;}
.github-icon p{margin:0;
  font-size: medium;
  text-decoration: none;}
.github-icon{font-size: xx-large;
  color: white;}
.github-icon:hover{color: orangered;}

@media (min-width: 792px) {
  .card {
    max-width: 30%;
    height: 300px;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(0);
}


