.technology-section {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .technology-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .progress-bar {
    flex: 1;
    height: 10px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 1em;
  }
  
  .progress {
    height: 100%;
    background-color: #033c98;
    animation: fillProgress 2s ease-in-out forwards;
  }
  
  .progress-percent {
    display: flex;
    margin: 5px;
  }
  
  @keyframes fillProgress {
    0% {
      width: 0;
    }
    100% {
      width: var(--progress-percent);
    }
  }
  
  .technology-icon.icon-html {
    background-color: #f12222;
  }
  
  .technology-icon.icon-css {
    background-color: #2229f1;
  }
  
  .technology-icon.icon-react {
    background-color: #22aff1;
  }
  
  .technology-icon.icon-js {
    background-color: #c4c701;
  }
  
  @media (max-width: 792px) {
    .technology-section {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      width: fit-content;
    }
  
    .technology-icon {
      margin: 10px;
    }
  
    .progress-bar {
      width: 100%;
      margin-right: 0;
    }
    .progress-percent {
        display: none;
      }
  }
  